.home-page {

  // .logo-container {
  // z-index: 0;
  // width: 400px;
  // height: 609px;
  // opacity: 0;
  // position: absolute;
  // top: 0;
  // right: 15%;
  // bottom: 0;
  // left: auto;
  // margin: auto;
  // }

  

  .solid-logo {
    width: 335px!important;
    height: 456px;
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    right: 15%;

    // left: 0;
    // margin: auto;
    // width: 100%;
    // opacity: 0;
    transform: rotateZ(30deg) !important; 
    // z-index: 1;
  }

  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 56px;
    line-height: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &:before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 30px;
      position: absolute;
      margin-top: -40px;
      left: -15px;
      opacity: 0.6;
    }

    &:after {
      content: '<h1/>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 30px;
      position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }

    img {
      margin-left: 20px;
      opacity: 0;
      width: 32px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: #ffd700;
      color: #333;
    }
  }
}
@media (max-width:530px)  {
  .home-page{
    overflow-x: hidden;
    // margin-top: 70px;
  }
 .home-page .text-zone{
    z-index: 20;
    width: 95%;
 }
 .home-page .logo-container{
   opacity: 0.8;
   left: 20px;
   
 }
 .home-page .solid-logo{
   right: -5%;
   margin-top:70px;
   
 }
 

  .home-page h2 {
     
     margin-top: 50px;
    //  font-size: 10px;
     opacity: 0.8;
     
   }

  //  &:after {
  //    content: '<h1/>';
     
  //    font-size: 30px;
    
  //    opacity: 0.8;
  //  }
  
}


